﻿
@{
    Layout = null;
    ViewBag.Title = "Log in";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Attendance Module | Login Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
   
</head>
<body class="pace-top">
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->

    <div class="login-cover">
        <div class="login-cover-image"><img src="~/assets/img/login-bg/Login.png" data-id="login-cover-image" alt="" /></div>
        <div class="login-cover-bg"></div>
    </div>
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-v2" data-pageload-addclass="animated fadeIn">
            <!-- begin brand -->
            @*<div class="login-header">
                <div class="brand">
                    <span class="logo"></span> Color Admin
                    <small>responsive bootstrap 3 admin template</small>
                </div>
                <div class="icon">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>*@
            <!-- end brand -->
            <div class="login-content">
                <div  class="margin-bottom-0">
                    <div class="form-group m-b-20">
                        <select id="ddlCompany" class="form-control input-lg" onchange="LoadLocation()">
                            <option>Company Name</option>
                        </select>
                        <span id="ddlComperrorname" style="color:red;">    </span>
                    </div>
                    <div class="form-group m-b-20">
                        <select id="ddlLocation" class="form-control input-lg">
                            <option>Location Name</option>
                        </select>
                        <span id="ddlLocationerrorname" style="color:red;">    </span>
                    </div>
                    <div class="form-group m-b-20">
                        <input type="text" id="txtUname" class="form-control input-lg" placeholder="UserName" required />
                    </div>
                    <div class="form-group m-b-20">
                        <input type="password" id="txtPassword" class="form-control input-lg" placeholder="Password" required />
                    </div>
                  
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" id="btnLogin">LogIn</button>
                    </div>
                    <div class="m-t-20">
                        2017&copy; Application Developed by Scoto Systec.
                    </div>
                </div>
            </div>
        </div>
        <!-- end login -->
       
     

    </div>
    <!-- end page container -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/js/login-v2.demo.min.js"></script>
    <script src="~/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script src="~/Scripts/Loginscript.js"></script>
    <script>
		$(document).ready(function() {
			App.init();
			LoginV2.init();
		});
    </script>
</body>
</html>


