﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Payroll | @ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />

    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/assets/css/theme/default.css" rel="stylesheet" id="theme" />

    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="~/assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />

    <link href="~/assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/assets/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/assets/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />

    <link href="~/assets/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <link href="~/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />

    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @*<script src="~/assets/plugins/pace/pace.min.js"></script>*@
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- begin #page-loader -->
    @*<div id="page-loader" class="fade in"><span class="spinner"></span></div>*@
    <!-- end #page-loader -->
    <!-- begin #page-loader -->
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        <div id="header" class="header navbar navbar-default navbar-fixed-top">

            <!-- begin container-fluid -->
            <div class="container-fluid">

                <!-- begin mobile sidebar expand / collapse button -->
                <div class="navbar-header">

                    <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="width:300px;"><span class="navbar-logo"><img src="~/assets/img/Logos/Log1.png" style="width:60px;margin-top:-30px" /></span> @HttpContext.Current.Session["CmpName"]</a>
                    <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <!-- end mobile sidebar expand / collapse button -->
                <!-- begin header navigation right -->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Dashboard", "Home")"><img src="~/assets/img/Attendance/Time-Attendance-System.png" alt="" style="height: 23px;" /></a></li>

                    <li>
                        <form class="navbar-form full-width">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter keyword" />
                                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                    </li>
                    <li class="dropdown">

                    </li>
                    <li class="dropdown navbar-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/assets/img/login-bg/user.svg" alt="" />
                            <span class="hidden-xs">@HttpContext.Current.Session["SessionCcode"] - @HttpContext.Current.Session["SessionLcode"]</span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInLeft">
                            <li class="arrow"></li>
                            <li><a href="@Url.Action("Index", "Home")">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- end header navigation right -->
            </div>
            <!-- end container-fluid -->
        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="sidebar" class="sidebar">
            <!-- begin sidebar scrollbar -->
            <div data-scrollbar="true" data-height="100%">
                <!-- begin sidebar user -->
                <ul class="nav">
                    <li class="nav-profile">
                        <div class="image">
                            <a href="javascript:;"><img src="~/assets/img/login-bg/user.svg" alt="" /></a>
                        </div>
                        <div class="info">
                            @HttpContext.Current.Session["Usernmdisplay"]

                        </div>
                    </li>
                </ul>
                <!-- end sidebar user -->
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-header">Navigation</li>
                    <li id="Menu-Dashboard"><a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-laptop"></i> <span>Dashboard</span></a></li>

                    @*<li class="has-sub">
                            <a href="javascript:;">
                                <b class="caret pull-right"></b>
                                <i class="fa fa-suitcase"></i>
                                <span>Admin Master</span>
                            </a>
                            <ul class="sub-menu">
                                <li><a href="#">Company Master</a></li>
                                <li><a href="#">DownLoadClear</a></li>

                                <li><a href="#">User Rights</a></li>

                            </ul>
                        </li>*@
                    <li class="has-sub" id="Menu-Master">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-suitcase"></i>
                            <span>Master</span>
                        </a>
                        <ul class="sub-menu">
                            <li id="Menu-SalaryDetMaster"><a href="@Url.Action("SalaryDetails", "Master")">Salary Details Master</a></li>
                            <li id="Menu-IncentiveMaster"><a href="@Url.Action("IncentiveMaster", "Master")">Incentive Master</a></li>
                            <li id="Menu-PFESIMaster"><a href="@Url.Action("PFESIMaster", "Master")">PF/ESI Master</a></li>

                        </ul>
                    </li>

                    <li class="has-sub" id="ManualEntry">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-bars"></i>
                            <span>Salary Process</span>
                        </a>
                        <ul class="sub-menu">
                            <li id="Menu-ManualAttendance"><a href="@Url.Action("ManualDeduction", "SalaryProcess")">Manual Deduction</a></li>
                            <li id="Menu-ManualOT"><a href="@Url.Action("AttdendanceMove", "SalaryProcess")">Attendance Move</a></li>
                            <li id="Menu-ManualOT"><a href="@Url.Action("AdvanceEntry", "SalaryProcess")">Advance</a></li>
                            <li id="Menu-AttnDownload"><a href="@Url.Action("AttendanceDownload", "Others")">Attendance DownLoad</a></li>
                            <li id="Menu-SalaryDownload"><a href="@Url.Action("SalaryDownload", "Others")">Salary DownLoad</a></li>
                            <li id="Menu-AttnUpload"><a href="@Url.Action("AttendanceUpload", "Others")">Attendance Upload</a></li>
                            <li id="Menu-SalaryUpload"><a href="@Url.Action("SalaryUpload", "Others")">Salary Upload</a></li>
                        </ul>
                    </li>
                    <li class="has-sub" id="ReportPayroll">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-bars"></i>
                            <span>Report</span>
                        </a>
                        <ul class="sub-menu">
                            <li id="Menu-VoucherRpt"><a href="@Url.Action("Voucher", "ReportPayroll")">Voucher</a></li>
                            <li id="Menu-PaySlipRpt"><a href="@Url.Action("PaySlip", "ReportPayroll")">PaySlip</a></li>
                            <li id="Menu-VoucherRpt"><a href="@Url.Action("SalaryList", "ReportPayroll")">Voucher Order wise</a></li>
                            <li id="Menu-BonusRpt"><a href="@Url.Action("BonusReport", "ReportPayroll")">BonusReport</a></li>

                        </ul>
                    </li>


                    <!-- begin sidebar minify button -->
                    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                    <!-- end sidebar minify button -->
                </ul>
                <!-- end sidebar nav -->
            </div>
            <!-- end sidebar scrollbar -->
        </div>
        <div class="sidebar-bg"></div>
        @RenderBody()
        @*<div id="content" class="content">
                <section class="content">

                </section>
            </div>*@

        <footer>
            <div class="breadcrumb pull-center">
                <img src="~/assets/img/Office.png" />
                2017 &copy; Scoto Systec Pvt Ltd.
            </div>

        </footer>

    </div>


    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="assets/crossbrowserjs/html5shiv.js"></script>
        <script src="assets/crossbrowserjs/respond.min.js"></script>
        <script src="assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/assets/plugins/parsley/dist/parsley.js"></script>
    <script src="~/assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
    <script src="~/assets/js/form-wizards-validation.demo.min.js"></script>
    <script src="~/assets/js/apps.min.js"></script>
    <script src="~/assets/js/ui-modal-notification.demo.min.js"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/moment.js"></script>
    <script src="~/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="~/assets/js/form-plugins.demo.min.js"></script>
    <script src="~/assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>

    @*<script src="~/assets/plugins/angular/datatables/media/js/jquery.dataTables.js"></script>
        <script src="~/assets/plugins/angular/angular-datatables/dist/angular-datatables.js"></script>*@
    <script src="~/assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/table-manage-default.demo.min.js"></script>

    <!-- ================== END PAGE LEVEL JS ================== -->



    <script>
		$(document).ready(function() {
		    App.init();
		    FormWizardValidation.init();
		   // FormPlugins.init();

		    //$('.datepicker').datepicker();
		    $('.select2').select2();
		    $('.datepicker').datepicker({
		        format: "dd/mm/yyyy",
		        autoclose: true
		    });

		});
		TableManageDefault.init();

    </script>

</body>
</html>