﻿
@{
    ViewBag.Title = "ManualDeduction";
    Layout = "~/Views/Shared/PayrollMaster.cshtml";
}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Salary Process</a></li>
        <li><a href="javascript:;">Deduction</a></li>

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><small>Manual Deduction</small></h1>
    <!-- end page-header -->
    <!--Form Page-->
    <div class="row">
        
        <div id="DisplayLeaveSub" style="display:block;">
            <div class="col-md-12">
                <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                        </div>
                        <h4 class="panel-title">Manual Deduction</h4>
                    </div>
                    <div class="panel-body panel-form">
                        <form method="post" class="form-horizontal form-bordered" data-parsley-validate="true">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Machine ID</label>

                                        <div class="input-group">
                                            <input class="form-control" type="text" id="txtMachineID" name="txtMachineID" />
                                            <span id="MachineError" style="color:red;">    </span>
                                            <div class="input-group-btn">
                                                <a href="#modal-dialog" data-toggle="modal" class="btn btn-success">+</a>
                                                @*<button type="button" class="btn btn-primary">Action</button>*@
                                            </div>
                                            <!-- #modal-dialog -->
                                            <div class="modal fade" id="modal-dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title">Employee Details</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table id="example1" class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Employee ID</th>
                                                                        <th>Exisisting Code</th>
                                                                        <th>Emp Name</th>
                                                                        <th>Department</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Existing Code </label>
                                        <input class="form-control" type="text" id="txtExistingCode" name="txtExistingCode" disabled />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Emp Name </label>
                                        <input class="form-control" type="text" id="txtname" name="Name" disabled />
                                    </div>
                                    <div class="col-md-3">
                                        <label>Emp Type </label>
                                        <input class="form-control" type="text" id="txtEmpType" name="Name" disabled />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Allowance 1</label>
                                        <input type="text" name="Date" id="txtAllow1" class="form-control " placeholder="Allowance 1" data-parsley-required="true" value="0.0" />
                                        <span id="Allow1Error" style="color:red;">    </span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Allowance 2</label>
                                        <input type="text" name="Date" id="txtAllow2" class="form-control " placeholder="Allowance 2" data-parsley-required="true"  value="0.0" />
                                        <span id="Allow2Error" style="color:red;">    </span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Allowance 3</label>
                                        <input type="text" name="Date" id="txtAllow3" class="form-control " placeholder="Allowance 3" data-parsley-required="true"  value="0.0" />
                                        <span id="Allow3Error" style="color:red;">    </span>
                                       
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Deduction 1</label>
                                        <input type="text" name="Date" id="txtDeduct1" class="form-control " placeholder="Deduction 1" data-parsley-required="true"  value="0.0" />
                                        <span id="Deduct1Error" style="color:red;">    </span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Deduction 2</label>
                                        <input type="text" name="Date" id="txtDeduct2" class="form-control " placeholder="Deduction 2" data-parsley-required="true"  value="0.0" />
                                        <span id="Deduct2Error" style="color:red;">    </span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Deduction 3</label>
                                        <input type="text" name="Date" id="txtDeduct3" class="form-control " placeholder="Deduction 3" data-parsley-required="true"  value="0.0" />
                                        <span id="Deduct3Error" style="color:red;">    </span>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label>From Date</label>
                                        <input type="text" name="Date" id="txtFromDate" class="form-control datepicker" placeholder="FromDate" data-parsley-required="true" required  />
                                        <span id="FromDateError" style="color:red;">    </span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>To Date</label>
                                        <input type="text" name="Date" id="txtToDate" class="form-control datepicker" placeholder="TO Date" data-parsley-required="true" required />
                                        <span id="ToDateError" style="color:red;">    </span>
                                    </div>
                       
                                </div>
                                



                                <div class="row">
                                    <label class="control-label col-md-5 col-sm-5"></label>
                                    <div class="col-md-3 col-sm-3">
                                        <button type="button" class="btn btn-success" id="btnSaveDeduction">Save</button>
                                        <a data-toggle="modal" class="btn btn-danger" id="btnClearDeduction">Clear</a>

                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                </div>


                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Salary/SalaryPor.js"></script>
<!-- end #content -->
