﻿
@{
    ViewBag.Title = "LeaderAllotment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Master</a></li>
        <li><a href="javascript:;">Leader Allotment</a></li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><small>Leader Allotment</small></h1>
    <!-- end page-header -->
    <!--Form Page-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                    </div>
                    <h4 class="panel-title">Leader Allotment</h4>
                </div>
                <div class="panel-body panel-form">
                    <div class="form-horizontal form-bordered">
                        <div id="LeaderMain" style="display:block;">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3 col-sm-3">
                                        <a href="javascript:;" class="btn btn-success" id="btnAdd">Add</a>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <table id="example8" class="table">
                                        <thead>
                                            <tr>
                                                @*<th>Designation</th>
                                                    <th>Worker Code</th>
                                                    <th>GENERAL</th>
                                                    <th>SHIFT1</th>
                                                    <th>SHIFT2</th>
                                                    <th>SHIFT3</th>*@
                                                <th>Leader Name</th>
                                                <th>Total</th>
                                                <th>Mode</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div id="LeaderSub" style="display:none;">

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-3" style="display:none;">
                                        <label>Dept</label>

                                        <select id="ddlDept" class="form-control select2" style="width: 100%;" onchange="LoadDeptChanged()">
                                            <option value="0">--Select Dept--</option>
                                        </select>
                                        <span id="Depterror" style="color:red;"> </span>

                                    </div>

                                    <div class="col-md-3" style="display:none;">
                                        <label>Designation</label>
                                        <select id="ddlDesignation" class="form-control select2" style="width: 100%;">
                                            <option value="0">--Select Designation--</option>
                                        </select>
                                        <span id="Designationerror" style="color:red;"> </span>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Leader Name</label>
                                        <select id="ddlLeaderName" class="form-control select2" style="width: 100%;">
                                            <option value="0">--Select LeaderName--</option>
                                        </select>
                                        <span id="LeaderNameerror" style="color:red;"> </span>

                                    </div>
                                    <div class="col-md-3">
                                        <label>Total</label>
                                        <input type="text" value="0" class="form-control" id="txtTotal" />
                                        <span id="Totalerror" style="color:red;"> </span>
                                    </div>
                                </div>
                                <div></div>
                                <div class="row">
                                    <label class="control-label col-md-4 col-sm-4"></label>
                                    <div class="col-md-4 col-sm-4">
                                        <div></div>
                                        <button type="button" class="btn btn-primary" id="BtnSave_Leader">Save</button>
                                        <button type="button" class="btn btn-danger" id="BtnClear">Clear</button>
                                    </div>
                                    <div class="col-md-4 col-sm-4"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/Master/LeaderMst.js"></script>
