﻿

@{
    ViewBag.Title = "BonusReport";
    Layout = "~/Views/Shared/PayrollMaster.cshtml";
}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Report </a></li>
        <li><a href="javascript:;">BonusReport </a></li>

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><small>BonusReport</small></h1>
    <!-- end page-header -->
    <!--Form Page-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-2">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                    </div>
                    <h4 class="panel-title">BonusReport </h4>
                </div>
                <div class="panel-body panel-form">
                    <div class="form-horizontal form-bordered">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Employee Type * :</label>
                                    <select id="ddlEmpType" class="form-control select2" name="WagesType">
                                        <option value="0">--Select Employee Type--</option>
                                    </select>

                                </div>
                               <div class="col-md-4">
                                    <label>Financial Year</label>
                                    <select id="ddlFin" class="form-control select2" name="FinYear">
                                        <option value="0">-Select-</option>
                                    </select>
                                </div>

                            </div>

                           
                            <div class="row">
                                <label class="control-label col-md-3 col-sm-3"></label>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-success" id="btnReport">Report</button>
                                </div>
                                <div class="col-md-3 col-sm-3">

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- end #content -->
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/PayrollReport/BonusRep.js"></script>

