﻿
@{
    ViewBag.Title = "AttendanceDownload";
    Layout = "~/Views/Shared/PayrollMaster.cshtml";
}


<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Attendance Download</a></li>

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><small>Attendance</small></h1>
    <!-- end page-header -->
    <!--Form Page-->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                        @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                    </div>
                    <h4 class="panel-title">Attendance Download</h4>
                </div>
                <div class="panel-body panel-form">
                    <div class="form-horizontal form-bordered" data-parsley-validate="true">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-4">
                                    <label>Employee Type * :</label>
                                    <select id="ddlAttendEmpType" class="form-control select2">
                                        <option value="0">--Select Employee Type--</option>
                                    </select>
                                    <span id="AttendEmpTypeerror" style="color:red"></span>
                                </div>
                                <div class="col-md-4">
                                    <label>Attendance Date  * :</label>
                                    <input class="form-control datepicker" type="text" id="txtFromDate" name="FromDate" data-parsley-required="true" />
                                    <span id="FromDateerror" style="color:red"></span>
                                </div>
                                <div class="col-md-2">
                                    <br />
                                    <button type="button" class="btn btn-primary" id="btnAttendDownload">Download</button>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/Salary/SalaryAndAttendance.js"></script>

