﻿
@{
    ViewBag.Title = "ManualOT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Manual</a></li>
        <li><a href="javascript:;">ManualOT</a></li>

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><small>Manual OT</small></h1>
    <!-- end page-header -->
    <!--Form Page-->
    <div class="row">
        <div id="OTmain" style="display:block;">
            <div class="col-md-12">
                <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                        </div>
                        <h4 class="panel-title">Manual OT</h4>
                    </div>
                    <div class="panel-body panel-form">
                        <form method="post" class="form-horizontal form-bordered" data-parsley-validate="true">
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-4">
                                        <a data-toggle="modal" class="btn btn-primary" id="btnAddOT">Add Manual OT</a>
                                    </div>

                                </div>
                                <div class="row">
                                    <table id="OTDataTable" class="table">
                                        <thead>
                                            <tr>
                                                <th>Employee ID</th>
                                                <th>Exisisting Code</th>
                                                <th>Emp Name</th>
                                                <th>OT Date</th>
                                                <th>OT Hours</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="OTsub" style="display:none;">
            <div class="col-md-12">
                <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                        </div>
                        <h4 class="panel-title">Manual OT</h4>
                    </div>
                    <div class="panel-body panel-form">
                        <form method="post" class="form-horizontal form-bordered" data-parsley-validate="true">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Machine ID</label>
                                        @*<select class="form-control">
                                                <option>-Select-</option>
                                                <option>1022</option>
                                                <option>1024</option>
                                            </select>*@
                                        <div class="input-group">
                                            <input class="form-control" type="text" id="txtMachineID" name="txtMachineID" />
                                            <div class="input-group-btn">
                                                <a href="#modal-dialog" data-toggle="modal" class="btn btn-success">+</a>
                                                @*<button type="button" class="btn btn-primary">Action</button>*@
                                            </div>
                                            <!-- #modal-dialog -->
                                            <div class="modal fade" id="modal-dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title">Employee Details</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table id="example1" class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Employee ID</th>
                                                                        <th>Exisisting Code</th>
                                                                        <th>Emp Name</th>
                                                                        <th>Department</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Existing Code </label>
                                        <input class="form-control" type="text" id="txtExistingCode" name="txtExistingCode" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Emp Name </label>
                                        <input class="form-control" type="text" id="txtname" name="Name" disabled />
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-3">
                                        <label>OT Date</label>
                                        <input type="text" name="Date" id="txtOTDate" class="form-control datepicker" placeholder="OT Date" data-parsley-required="true" />
                                        <span id="OTdateeError" style="color:red;">    </span>
                                    </div>
                                    <div class="col-md-3">
                                        <label>OT Hrs</label>
                                        <input class="form-control" type="text" name="OT" id="txtOTHrs" placeholder="OT Hours" data-parsley-required="true" />
                                        <span id="OthoursError" style="color:red;">    </span>
                                    </div>

                                </div>

                                <div class="row">
                                    <label class="control-label col-md-5 col-sm-5"></label>
                                    <div class="col-md-3 col-sm-3">
                                        <button type="submit" class="btn btn-success" id="btnSaveOT">Save</button>
                                        <a data-toggle="modal" class="btn btn-danger" id="btnClearOT">Clear</a>

                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                </div>


                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/ManualEntry/ManualAttend.js"></script>
<!-- end #content -->


