﻿
@{
    ViewBag.Title = "EmpShiftAssign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- begin #content -->
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Employee</a></li>
        <li><a href="javascript:;">ShiftAssign</a></li>

    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header"><small>Employee Shift Assign</small></h1>
    <!-- end page-header -->
    <!--Form Page-->
    <div class="row">
        <div id="AssignMain" style="display:block;">
            <div class="col-md-12">
                <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                        </div>
                        <h4 class="panel-title">Shift Assign</h4>
                    </div>
                    <div class="panel-body panel-form">
                        <form method="post" class="form-horizontal form-bordered" data-parsley-validate="true">
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-4">
                                        <a data-toggle="modal" class="btn btn-primary" id="btnAddAssign">Assign Shift</a>
                                    </div>

                                </div>
                                <div class="row">
                                    <table id="AssignTable" class="table">
                                        <thead>
                                            <tr>
                                                <th>Employee ID</th>
                                                <th>Emp Name</th>
                                                <th>Shift Name</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="AssignSub" style="display:none;">
            <div class="col-md-12">
                <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                    <div class="panel-heading">
                        <div class="panel-heading-btn">
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                            <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                            @*<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>*@
                        </div>
                        <h4 class="panel-title">Shift Assign</h4>
                    </div>
                    <div class="panel-body panel-form">
                        <form method="post" class="form-horizontal form-bordered" data-parsley-validate="true">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Machine ID</label>

                                        <div class="input-group">
                                            <input class="form-control" type="text" id="txtMachineID" name="txtMachineID" />
                                            <div class="input-group-btn">
                                                <a href="#modal-dialog" data-toggle="modal" class="btn btn-success">+</a>
                                                @*<button type="button" class="btn btn-primary">Action</button>*@
                                            </div>
                                            <!-- #modal-dialog -->
                                            <div class="modal fade" id="modal-dialog">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            <h4 class="modal-title">Employee Details</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table id="EmpDetails" class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Employee ID</th>
                                                                        <th>Exisisting Code</th>
                                                                        <th>Emp Name</th>
                                                                        <th>Department</th>
                                                                        <th>Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <span id="MachineIDerror" style="color:red;"> </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Existing Code </label>
                                        <input class="form-control" type="text" id="txtExistingCode" name="txtExistingCode" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label>Emp Name </label>
                                        <input class="form-control" type="text" id="txtname" name="Name" disabled />
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-4">
                                        <label>Shift Name * :</label>
                                        <select id="ddlShift" class="form-control select2" style="width: 100%;" onchange="OnChangeShiftName();">
                                            <option value="0">--Select Shift--</option>
                                        </select>
                                        <span id="ShiftNameerror" style="color:red;"> </span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Start Time </label>
                                        <input class="form-control" type="text" id="txtStart" name="Name" disabled />
                                    </div>
                                    <div class="col-md-4">
                                        <label>End Time </label>
                                        <input class="form-control" type="text" id="txtEnd" name="Name" disabled />
                                    </div>




                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>From Date</label>
                                        <input type="text" name="Date" id="txtFromDate" class="form-control datepicker" placeholder="From Date" data-parsley-required="true" />
                                        <span id="FromDateError" style="color:red;">    </span>
                                    </div>
                                    <div class="col-md-4">
                                        <label>To Date</label>
                                        <input type="text" name="Date" id="txtToDate" class="form-control datepicker" placeholder="To Date" data-parsley-required="true" />
                                        <span id="ToDateError" style="color:red;">    </span>
                                    </div>

                                    <div class="col-md-4">
                                        <label>Discription</label>
                                        <input type="text" name="Date" id="txtDesc" class="form-control" placeholder="Discription" data-parsley-required="true" />
                                        <span id="DescError" style="color:red;">    </span>
                                    </div>
                                </div>
                                



                                <div class="row">
                                    <label class="control-label col-md-5 col-sm-5"></label>
                                    <div class="col-md-3 col-sm-3">
                                        <button type="button" class="btn btn-success" id="btnShiftSave">Save</button>
                                        <a data-toggle="modal" class="btn btn-danger" id="btnClearRelive">Clear</a>

                                    </div>
                                    <div class="col-md-3 col-sm-3">

                                    </div>
                                </div>


                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/ManualEntry/ManualAttend.js"></script>
<!-- end #content -->

